@font-face {
    font-family: 'ChenYuluoyan-Thin';
    src: url('../fonts/ChenYuluoyan-Thin.woff') format("woff"),
         url('../fonts/ChenYuluoyan-Thin.ttf') format("truetype");
}

html{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: #3c3c3f;
    background-image: url('../images/S__1024154_5桌布_03.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-family: 'ChenYuluoyan-Thin', sans-serif; */    
}

body{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    width: 100%;
    height:130px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    /*background-color: rgb(66, 75, 71, 50);*/
}

.top_images{
    width: 100%;
    height:90px;
    background-color: #42414d;
    margin: 0;
    display: flex;
    /* justify-content: space-around; */
}

.game_icon{
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 5px;
    /*background-color: #2b8b97;*/
}

.game_icon img{
    transform:scale(1,1);transition: all 0.5s ease-out;
}

.game_icon img:hover{
    transform:scale(1.2,1.2);
}

.game_title{
    width: 450px;
    height: 80px;
    margin: 5px;
    justify-content: center;
    margin-left: 35%;
    /* padding: 0 auto; */
    /* background-color:#213f2a30; */
}

.game_title img{
    transform:scale(1,1);transition: all 0.5s ease-out;
}

.game_title img:hover{
    transform:scale(1.2,1.2);
}

.icons{
    width: 165px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    margin-left: 20%;
    margin-top: 35px;
    /* background-color: #c5ca9d; */
}

.fb img, .ig img, .twi img{
    width: 45px;
    height: 45px;
    padding: 0 auto;
    background-color: #454e52;
    border-radius: 6px;
    cursor:pointer;
    transform:scale(1,1);transition: all 0.5s ease-out;
}

.fb img:hover{
    transform:scale(1.2,1.2);
}
.ig img:hover{
    transform:scale(1.2,1.2);
} 
.twi img:hover{
    transform:scale(1.2,1.2);
}

.list{
    max-width: 100%;
    height: 40px;
    background-color:#000000;
    margin: 0;
    padding: 0 70px;
    display: block;
    display: flex;
    justify-content: space-between;
}

.list_item{
    display: block;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    padding: 0 5px;
    margin: 0 5px;
    text-align: center;
    transform:scale(1,1);transition: all 0.2s ease-out;
}

.list_item_link{
    display: block;
    color: #d5dfd9;
    padding: 3.5px 9px 0 0;
    font-size: 2rem;
    font-weight: 400;
    text-indent: 10%;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'ChenYuluoyan-Thin', sans-serif;
}

.list_item:hover{
    background-color: #454e52;
    transform:scale(1,1.2);
}

.list_item_link:hover{
    color:#252525;
    font-weight: 600;
}

.bg{
    width: 80%;
    /*height: 100vh;*/
    margin-top: 170px;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color: #d9d9e270;*/
    /*display: flex;*/    
}

h1{
    display: block;
    margin: 0.3em auto;
    font-size: 3rem;
    font-weight:normal;
    font-family: 'ChenYuluoyan-Thin', sans-serif;
  }

p{
    display: block;
    margin: 0.5em auto;
    font-size: 1.5rem;
    font-weight: 700;
  }

.main_photo{
    width: 80%;
    height: 680px;
    margin-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -90px;
    /* background-color: #c5ca9d; */
}

.main_photo img{
    width: 100%;
    height: 100%;
}

.notification, .laws, .game_introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../images/文字背景\ 貼01.png');
    margin: 50px auto;
    padding: 10px auto;
    background-position: center;
    background-size: cover;
    /* background-color: #b7b7bd50; */
    /*position: relative;
    top: 50px;*/
  }

.team, .download{
    width: 100%;
    /*height: max-content;*/
    display: flex;
    flex-direction: column;
    /* background-color: #b7b7bd50; */
    background-image: url('../images/文字背景\ 加圖案01.png');
    margin: 50px auto;
    padding: 10px auto;
    background-position: center;
    background-size: cover;
    /*position: relative;
    top: 50px;*/
}

.download_btn{
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}

.download_btn_list{
    display: block;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    background-color: #000000;
    margin: 3% auto;
    text-align: center;
    cursor:pointer;
}

.download_btn_list_link{
    display:block;
    color: #d5dfd9;
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 600;
    text-indent: 2rem;
    text-decoration: none;
    list-style: none;
    position: relative;
    right: 20px;
    /*text-align: center;*/
}

.download_btn_list:hover{
    background-color: #454e52;
}

.download_btn_list_link:hover{
    color: #252525;
}

.notification_title, .team_title, .laws_title, .download_title, .game_intro_title{
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px 0px 10px;
    border-bottom: 3px solid #222724;
  }

.action_title, .game_type_title{
    width: 90%;
    margin: 5px auto;
    padding: 0px 0px 0px 10px;
    border-bottom: 3px solid #222724;
}

.action_title h1, .game_type_title h1{
    margin: 0em auto;
    margin-block-start: 0.6em;
    margin-block-end: 0.05em;
}

.game_intro_context{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 1% 5%;

}

.game_intro_context_text{
    width: 60%;
}

.game_intro_context_text p{
    line-height: 1.3em;
}

.game_intro_img{
    width: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}

.game_intro_context_img01{
    width: 350px;
    height: 250px;
    padding: 5px;
    background-color: white;
    /*position: relative;
    top: 10px;
    left: 570px;*/
    -moz-transform:rotate(7deg);
    -webkit-transform:rotate(7deg);
    -o-transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    transform:rotate(7deg);
}
.game_intro_context_img02{
    width: 350px;
    height: 250px;
    padding: 5px;
    margin-top: -10px;
    background-color: white;
    /*position: relative;
    top: 180px;
    left: 570px;*/
    -moz-transform:rotate(-8deg);
    -webkit-transform:rotate(-8deg);
    -o-transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    transform:rotate(-8deg);
}

.action_gametype{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.action, .game_type{
    width: 48%;
    background-image: url('../images/文字背景\ 貼02.png');
    background-position: center;
    background-size: cover;
    /*background-color: #7c7c8050;*/
}

.notification_context, .team_context, .laws_context, .action_text, .game_type_text{
    max-width: 90%;
    margin: 1% 7%;
  }

.Chara, .Bella{
    width: 86%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    background-color: #d5dfd980;
}

 .person_bella, .person_chara{
    width: 100%;
    height: 190px;
    background-color: #504b4b30;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
 } 

 .person_information_bella, .person_information_chara{
    width: 100%;
    display: none;
 }

 .person_information{
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: row;
    margin: -10px auto 0px;
    padding: 10px;    
    /*background-color: #ffffff30;*/
}

.person_infor_text{
    width: 62%;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.person_photo{
    width: 240px;
    height: 480px;
    background-color: #c8c9bad2;
    margin-top: -130px;
    padding: 10px;
}

.person_headshot{
    width: 150px;
    height: 150px;
    background-color: #fff8d99f;
    padding: 5px 5px 35px 5px;
    cursor:pointer;
    transition:2s;
 }

 .person_headshot:hover{
    position: relative;
    bottom: 30px;   
 }

.person_name{
    width: 140px;
    height: 50px;
    margin-top: 120px;
    margin-left: -15px;
    background-color: #313d35;
    padding: 0;
    cursor:pointer;
    font-family: 'ChenYuluoyan-Thin', sans-serif;
    transition: 2s;
}

.person_name:hover{
    background-color:#c5ca9d;
    position: relative;
    right: 30px;
}

.person_name p{
    font-size: 2.5rem;
    color:rgb(234, 245, 237);
    text-align: center;
    margin: 3px auto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.person_name p:hover{
    color:#222724;
}

footer{
    display: block;
    max-width: 100%;
    max-height: 20px;
    background-color: #39393b;
    padding: 15px 400px;
    margin: 0 auto;
    display:flex;
    text-align: center;
    /*position: relative;
    bottom: 0px;*/
}

.footer p{
    display: block;
    margin: 0 auto;
    color:#edf2c5;
    font-size: 2px;
    font-family: Arial;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }

.download_btn_text{
    text-align:center;
}

/* .download_btn_text p{
 font-size: 2rem; 
} */

.others_headshot p, .others_name p{
    color:white;
    text-align: center;
    /*font-family: Arial;*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.others_headshot p{
margin-top: 68px;
}

.others{
    width: 86%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 20px auto;
    margin: 30px auto;
    /*justify-content: center;*/
    background-color: #d5dfd980;
}

.others_headshot{
    width: 150px;
    height: 150px;
    padding: 5px 5px 35px 5px;
    cursor:pointer;
    background-color: #fff8d99f;
 }

.others_name{
    width: 250px;
    height: 140px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #313d35;
    padding: 0;
    cursor:pointer;
}

.others_name p{
    font-family: 'ChenYuluoyan-Thin', sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
}

.other{
    width: 50%;
    height: 150px;
    padding: 5px;
    display: flex;
    /*margin-left: 55px;*/
    /*background-color: antiquewhite;*/
}

.mainphoto_html{
    max-width: 100%;
    max-height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainphoto{
    max-width: 100%;
    max-height: 100%;
    margin: 4%;
}
